<html>
	<head></head>
	<body>
		request to info:
		<form action="./info" method="POST">
			name:<input type="text" name="name" value="scrambled eggs" />
			<input type="submit" />
		</form>
		<br>

		request to ocr (sample menus):
		<form action="./ocr" method="POST">
			menu id: <select name="menu_id" id="">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			<input type="submit" />
		</form>
		<br>

		request to ocr:
		<form method="POST">
			select file: <input name="photo" type="file" /><br>
			<input type="submit" />
		</form>
		<button onclick="javascript:testUpload();" >Test</button>
		<br>

		request to testpost:
		<form action="./posttest" method="POST">
			<input type="text" name="postvalue" value="testvalue"/>
			<input type="submit" />
		</form>
		<br>


		<script>
			function testUpload() {
				const fileField = document.querySelector('input[type="file"]');
				const formData = new FormData();

				formData.append('file', fileField.files[0]);

				console.log(fileField.files[0]);
				console.log(formData);;

				fetch('http://localhost:5000/upload', {
					method: 'POST',
					body: formData,
					mode:'no-cors'
				})
				.then((response) => response.json())
				.then((result) => {
				  console.log('Success:', result);
				});

			}
		</script>

	</body>
</html>